<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm py-2 fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold fs-4" href="/home">
            <i class="fa-solid fa-heart heart"></i> HealthCare+
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link  px-3" href="/doctor/dashboard">dashboard</a>
                <a class="nav-link px-3" href="/doctor/dashboard/appointment">Appointment</a>
                <a class="nav-link px-3" href="/doctor/dashboard/pendingappointment">Pending Appointment</a>
                <a class="nav-link px-3" href="/doctor/dashboard/patients">Patients</a>
                <a class="nav-link px-3" href="/doctor/dashboard/availability">Availablility</a>
                <a class="nav-link px-3" href="/doctor/dashboard/profile">profile</a>
                <a class="btn btn-light text-primary ms-3 px-3 rounded-pill shadow-sm" href="/doctor/dashboard/login">Logout</a>
            </div>
        </div>
    </div>
</nav>