/* NavBar */
.heart {
    color: red;
    animation: beat 1s infinite;
}

@keyframes beat {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}



/* Footer */
html,
body {
    height: 100%;     
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;        /* expand to fill space */
}